@model OnTheKnee.ViewModels.NewSignatureViewModel
@{
    /**/

    ViewBag.Title = "Neighbors North Traditional Latin Mass Petition";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Neighbors North Traditional Latin Mass Petition</h2>
        </div>
    </div>
</div>

@using (@Html.BeginForm("CreateSignature", "Signature"))  
{
<div class="container-fluid">
    @Html.ValidationSummary(true, "Please fix the following fields:")
    <div class="form-group row">
        <div class="col-4">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-4" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="col-4">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-4" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GivenReasonDetail)
        @Html.TextAreaFor(m => m.GivenReasonDetail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GivenReasonDetail)
    </div>
    <div class="form-group">
        <label>Parish</label>
        @Html.TextBoxFor(m => m.CommunityId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CommunityId)
    </div>
    <div>
        <div class="form-group">
            <label>Do you want your name and reason listed publicly on this website?</label>
            <br />
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(m => m.ShowPublicly, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ShowPublicly)
        </div>
    </div>
    <br />

    @Html.AntiForgeryToken()
    <div>
        <button type="submit" class="btn btn-primary">Save Entry</button>
    </div>
</div>
}